.rating-circle {
  border: 3px solid rgba(104, 104, 104, 0.377);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  grid-area: rating-circle;
}
.rating-circle.L {
  width: 96px;
}
.rating-circle.M {
  width: 77px;
}
.rating-circle.S {
  width: 60px;
}
