.hero-wrapper {
  position: relative;
  padding-top: 110px;
  padding-bottom: 50px;
  .bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
  }
  .overlay {
    position: absolute;
  }
}

#hero {
  position: relative;

  .group {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  @media screen and (min-width: 768px) {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 768px) {
    .group {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
